.banner {
  background-image: url("../../ImagesForInitialUse/image/banner.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 570px;
  width: 100%;
  color: white;
  top: 0;
  left: 0;
}
.content {
  margin-left: 10px;
  padding-top: 270px;
}
.logo {
  color: #0000ff;
  font-size: 28px;
  letter-spacing: -1px;
  line-height: 1;
  cursor: pointer;
}
.logo {
  width: 80px;
  object-fit: contain;
  cursor: pointer;
  font-weight: 900;
}
.bannerImg {
  flex-shrink: 0;
  width: 150px;
  height: 45px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}
.title {
  margin: 0;
  padding-left: 5px;
}
.description {
  padding-left: 5px;
  font-size: 23px;
  max-width: 740px;
  /* padding-top: 0.5rem; */
}
.buttonContainer {
  margin-left: 10px;
  gap: 1rem;
  display: flex;
  height: 40px;
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 120px;
  gap: 5px;
  outline: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.5rem 1rem;
  border: none;
}
button:hover {
  background-color: rgba(51, 51, 51, 0.5);
  border: none;
  cursor: pointer;
}
.myListButton {
  width: 100px;
  border: 2px solid white;
}
/* .fadeButton{
height: 11rem;
background-image: linear-gradient(
    180deg,
    transparent,
    rgba(65, 65, 65, 0.62)
    rgba(17, 17, 17, 1)
);
width: 100%;
} */
.fadeButton {
  height: 8rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(65, 65, 65, 0.62),
    rgba(17, 17, 17, 1)
  );
  width: 100%;
  left: 0;
  position: absolute;
}
